# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
.*

# Build output
dist/
build/

# Environment variables
.env

# IDE specific files
.idea/
.vscode/

# Operating system files
.DS_Store
Thumbs.db

# Coverage directory
coverage/

# Puppeteer local downloads
/.local-chromium/

# Miscellaneous
*.tgz
*.zip
*.tar
*.tar.gz
*.gzip
